
body, h1, h2, h3, p, div, ol, ul, input, button {
    margin: 0;
    padding: 0;
}
body{
    max-width: 1024px !important;
    margin: 0 auto;
}
/* 主页 */
.index_container{
    min-height:100vh;
    width:100%;
    height:100%;
}
.index_top{
    height: 1.32rem;;
    line-height: 1.32rem;
    color: #9298ac;
    font-size: 0.36rem;
    text-align: center;
}
.index_xz_select{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0 0.3rem;
}
.index_xz_select .select_to{
    display: block;
    width:25%;
    margin-bottom:0.5rem;
    padding-left:0.2rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
/* 结果 */
.result{
    width: 100%;
    /* min-height: 100vh; */
    /* position: relative; */
    max-width: 1024px;
    margin:0 auto;
    /* height:100%; */
    display: none;
}
/* 今日星座运势 */
.result_ys_container{
    padding:0.1rem;
    display: none;
}
/* 修改星座 */
.replacexz_container{display: none;}
.replacexz{
    background-color:#F1F1F1;
    height:1.2rem;
    padding:0 0.3rem;
    display: flex;
    box-sizing:border-box;
    color:#ababab;
    font-size:0.28rem;
    align-items: center;
    justify-content: space-between; 
}
.setxzBtn{
    width:2.24rem;
    height:0.68rem;
    line-height: 0.68rem;
    border-radius: 0.1rem;
    text-align: center;
    font-size:0.32rem;
    background-color:#d7d0fc;
    color:#ffffff;
}
.result_ys_wrap{
    background:url('../images/constellation_ys/kuang.png') no-repeat;
    background-size:100% 100%;
    padding-top:0.1rem;
    padding-bottom:0.4rem;
    font-family:Arial, Helvetica, sans-serif;
}
.result_ys_title{
    background:url("../images/constellation_ys/title.png") no-repeat;
    background-size:100% 100%;
    width:60%;
    height:0.4rem;
    line-height: 0.4rem;
    font-size:0.4rem;
    color:#6B76DD;
    margin:0 auto;
    text-align: center;
}
/* 用户信息 */
.result_ys_msg{
    padding:0.3rem;
}
.result_ys_portrait{
    width:1.2rem;
    height:1.2rem;
    border-radius: 50%;
    border:0.02rem solid #C49ADC;
    margin:0 auto;
    position: relative;
}
.user_portrait{
    border-radius: 50%;
    display: block;
    width: 100%;
}
.xz_icon{
    position: absolute;
    width:0.58rem;
    height:0.58rem;
    right:-0.28rem;
    bottom:-0.18rem;
    border-radius: 50%;
}
.result_ys_name{margin:0.2rem 0;text-align: center;font-size:0.28rem;color:#6B76DD;}
.result_ys_xz{
    width: 55%;
    height:0.5rem;
    line-height: 0.5rem;
    font-size:0.28rem;
    color:#ffffff;
    background:url('../images/constellation_ys/signSmallBody.png') no-repeat;
    background-size:100% 100%;
    text-align: center;
    margin:0 auto;
}
/* 指数分数 */
.result_ys_zs{
    display: flex;
    padding:0 6%;
    box-sizing: border-box;
    justify-content: space-between;
}
.circular{
    text-align: center;
    border-radius: 50%;
    width:1.4rem;
    height:1.4rem;
    font-size:0.24rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circular::before{
    content:'';
    width:1.3rem;
    height:1.3rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
}   
.circular::after{
    position: absolute;
    width:1.3rem;
    height:1.3rem;
    content: '';
    z-index: -2;
    border-radius:50%;
}
.result_ys_zs div span:nth-child(2){font-size:0.36rem;}


.love_zs{
    color:#FF7AD6;
    border:0.02rem dotted #FB9DAE;
}
.love_zs::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.love_zs::after{
    background: linear-gradient(#FF7AD6, #FB9DAE);
    background-clip: padding-box;
}

.wealth_zs{
    color:#FFB127;
    border:0.02rem dotted #FFB127;
}
.wealth_zs::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wealth_zs::after{
    background: linear-gradient(#FFE082, #FFB127);
    background-clip: padding-box;
}

.healthy_zs{
    color:#01DEAA;
    border:0.02rem dotted #01DEAA;
}
.healthy_zs::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.healthy_zs::after{
    background: linear-gradient(#7DDDF5, #0CE4B1);
    background-clip: padding-box;
}

.work_zs{
    color:#7776DB;
    border:0.02rem dotted #7776DB;
}
.work_zs::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.work_zs::after{
    background: linear-gradient(#C7BEFF, #71BBFE);
    background-clip: padding-box;
}

/* 综合指数 */
.result_ys_sy{padding:0 6%;}
._hr{
    margin:0.3rem;
    height:0.04rem;
    background-color:#C9A1DF;
    position: relative;
}
._hr::before,._hr::after{
    content: '';
    width:0.04rem;
    height:0.04rem;
    border-radius: 50%;
    background-color:#C9A1DF;
    position: absolute;
}
._hr::before{left:-0.2rem;top:50%;margin-top:-0.02rem;}
._hr::after{right:-0.2rem;top:50%;margin-top:-0.02rem;}
/* h2 */
._hr2{
    margin:0.3rem;
    height:0.04rem;
    background-color:#8890E5;
    position: relative;
}
._hr2::before,._hr2::after{
    content: '';
    width:0.04rem;
    height:0.04rem;
    border-radius: 50%;
    background-color:#8890E5;
    position: absolute;
}
._hr2::before{left:-0.2rem;top:50%;margin-top:-0.02rem;}
._hr2::after{right:-0.2rem;top:50%;margin-top:-0.02rem;}
.result_ys_sy_c{
    background:url('../images/constellation_ys/content.png') no-repeat;
    background-size:100% 100%;
    padding:0.2rem;
    display: flex;
    justify-content: space-between;
}
.result_ys_sy_c div{
    display: flex;
    flex-direction:column;
}
.result_ys_sy_c div p:nth-child(1){font-size:0.28rem;color:#664E9A;text-align: center;}
.result_ys_sy_c div p:nth-child(2){font-size:0.36rem;color:#7C7BDC;text-align: center;line-height: 1.4;}
/* 结语 */
.result_ys_jy{padding:0 7%;font-size:0.28rem;color:#7C7BDC;margin-bottom:0.5rem;}
/* 二维码 */
.result_ys_QRcode{
    padding:0 7%;
    display: flex;
    justify-content: center;
    align-items:baseline;
    font-size:0.28rem;
    color:#5764DF;
}
.result_ys_QRcode img{margin:0 0.2rem;}

/* resultMenu */
.result_menu{
    list-style: none;
    border:0.02rem solid #E7E5FB;
    box-shadow: 0 0 0.3rem 0.05rem #9E97EC; 
    border-radius: 0.1rem;width:40%;
    position: absolute;
    right:0;
    top:calc(-100% + -1.1rem);
    background-color:#ffffff;
    display: none;
}
.result_menu::after{
    content:'';
    border:0.3rem solid transparent;
    border-top-color: #ffffff;
    position: absolute;
    bottom:-0.5rem;
    right:0.2rem;
}
.result_menu li{
    border-bottom:0.02rem solid #FAFAFA;
    height:0.82rem;
    line-height: 0.82rem;
    text-align: center;
    color: #9e97ec;
    font-size: 0.32rem;
}

/* 周运势 */
.result_ys_js{
    padding:0.2rem 6% 0.5rem;
}
.wm_item{
    display: flex;
    align-items: center;
}
.wm_item p{
    font-size:0.24rem;
    color:#908FE1;
    width: 100%;
    line-height: 1.5;
    margin-left:0.2rem;
    flex: 1;
}
.wmshare{
    font-size:0.45rem;
    font-weight:bold;
    text-align: center;
    border-radius: 50%;
    width:0.9rem;
    height:0.9rem;
    line-height: 0.9rem;
    flex-shrink: 0;
    font-size:0.3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wmshare::before{
    content:'';
    width:0.8rem;
    height:0.8rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
}
.wmshare::after{
    position: absolute;
    width:0.8rem;
    height:0.8rem;
    content: '';
    z-index: -2;
    border-radius:50%;
}
.wm_love{
    color:#FF7AD6;
    border:0.02rem dotted #FB9DAE;
}
.wm_love::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wm_love::after{
    background: linear-gradient(#FF7AD6, #FB9DAE);
    background-clip: padding-box;
}
.wm_qwork{
    color:#2EDFFF;
    border:0.02rem dotted #6570DC;
}
.wm_qwork::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wm_qwork::after{
    background: linear-gradient(#6570DC, #2EDFFF);
    background-clip: padding-box;
}
.wm_healthy{
    color:#01DEAA;
    border:0.02rem dotted #01DEAA;
}
.wm_healthy::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wm_healthy::after{
    background: linear-gradient(#7DDDF5, #01DEAA);
    background-clip: padding-box;
}
.wm_wealth{
    color:#FFB127;
    border:0.02rem dotted #FFB127;
}
.wm_wealth::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wm_wealth::after{
    background: linear-gradient(#FEC955, #FFB127);
    background-clip: padding-box;
}
.wm_work{
    color:#7776DB;
    border:0.02rem dotted #7776DB;
}
.wm_work::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
}
.wm_work::after{
    background: linear-gradient(#CBD0FE, #70BBFE);
    background-clip: padding-box;
}
/* 月运势 */
.wm_compre{
    color:#6773DC;
    border:0.02rem dotted #6773DC;
    width:1.6rem;
    height:0.6rem;
    line-height: 0.6rem;
    border-radius:0.7rem;
}
.wm_compre::before{
    border:0.04rem solid transparent;
    background: linear-gradient(#ffffff, #ffffff);
    background-clip: padding-box;
    width:1.5rem;
    height:0.5rem;
    border-radius:0.7rem;
}
.wm_compre::after{
    background: linear-gradient(#C295DB, #6C76DD);
    background-clip: padding-box;
    width:1.5rem;
    height:0.5rem;
    border-radius:0.7rem;
}
.wm_compre_c{font-size:0.24rem;color:#7776DB;margin-top:0.2rem;line-height: 1.5;}
/* 切换 */
.result_img_container{
    display: none;
    padding:0.4rem 0.4rem  0;
}
.result_imgwrap{
    box-shadow: 0 0 0.2rem 0.02rem #BC92DB;
}
.result_imgwrap .result_img{vertical-align: middle;}
/* 按钮 */
.result_t_f{
    display: flex;
    justify-content: space-between;
    padding:0.6rem 0rem;
    position: relative;
}
.setconstell {
    width:40%;
    height:0.84rem;
}
.getmore {
    width:40%;
    height:0.84rem;
}
/* 加载 */
.loadingBox {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height:100%;
    display: none;
    background-color:#ffffff;
}
.loading_wrap{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.loading_wrap p{
    padding: 0.4rem;
    color: #9E97EC;
    padding-top: 0.12rem;
    font-size: 0.32rem;
}

.loading {
    width:1.42rem;
    animation: roting 1s linear infinite;
}

@keyframes roting {
    0% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
/* 提示 */
.zwfy-report-cartoonBox{
    display: none;
    width: 3.12rem;
    height: 3.12rem;
    position: absolute;
    z-index: 59;
    left: 0;
    right: 0;
    top: 3.68rem;
    margin: 0 auto 0 auto;
}
.zwfy-report-cartoonBox-filter{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    border-radius: 0.12rem;
}
.zwfy-report-cartoon{
    display: none;
}
.zwfy-report-cartoon-active{
    display: block;
    position: absolute;
    width: 1.24rem;
    top: 0.16rem;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}
.zwfy-report-cartoonBox > p{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 56%;
    color: white;
    font-size: 0.32rem;
    line-height: 0.56rem;
    right:0;
}