body{background-color:#F5F0EA;}
.paypage_content{padding-bottom:0.5rem;}
.paypage_box{
    margin:0.2rem;
    background:url('../images/cstest/bj_zf.png') no-repeat;
    background-size:100% 100%;
    padding:0.3rem 0.4rem;
    box-sizing: border-box;
    text-align: center;
    color:#333333;
    line-height: 1.5;
}
.paypage_box .box_title{font-size:0.44rem;}
.paypage_box .seeCount{font-size:0.28rem;font-weight: 700;}
.paypage_box .seeCount::before,.paypage_box .seeCount::after{
    content:'';
    width:10%;
    height:1px;
    background-color:#333333;
    display: inline-block;
    vertical-align: middle;
}
.paypage_box .seeCount::before{margin-right:0.1rem;}
.paypage_box .seeCount::after{margin-left:0.1rem;}
.p_list{list-style: none;padding:0.3rem 0;}
.p_list li{font-size:0.28rem;margin-bottom:0.2rem;}
.p_list li:nth-last-child(1){margin-bottom:0;}
.discount{font-size:0.28rem;color:#666666;}
.seeBtn{
    width:6.24rem;
    height:1rem;
    line-height: 1rem;
    text-align: center;
    font-size:0.34rem;
    color:#ffffff;
    background:url('../images/cstest/button_zf.png') no-repeat;
    background-size:100% 100%;
    margin:0.1rem auto;
}
.discountTime{font-size:0.26rem;}
.discountTime span{color:#fa4b38;}

.lock_title{
    padding:0.4rem 0 0.6rem;
    text-align: center;
    font-size:0.48rem;
    color:#ff5800;
    position: relative;
}
.lock_title::after{
    content: '';
    border:0.2rem solid transparent;
    border-top-color:#ff5800;
    display: inline-block;
    position: absolute;
    left:50%;
    bottom:0;
    margin-left:-0.2rem;
}
.lock_img_box{font-size:0;margin:0 0.2rem;}
.lock_img_box img{margin-bottom:0.2rem;}
.lock_img_box img:nth-last-child(1){margin-bottom:0;}
/* 返回弹窗 */
.back_popup_container{
    width:100%;
    height:100%;
    position: fixed;
    left:0;top:0;
    z-index: 95;
    display: none;
}
.back_popup_container.show{display: block;}
.back_popup_container.show .back_popup_wrap{
    animation: popupShow .3s forwards ease-in;
}
@keyframes popupShow{
    0%{transform: scale(0.3);}
    100%{transform: scale(1)}
}
.back_popup_bg{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;left:0;
}
.back_popup_wrap{
    width:6rem;
    border-radius: 0.1rem;
    background-color:#ffffff;
    position: absolute;
    top:20%;
    left:50%;
    z-index: 3;
    margin-left:-3rem;
    
}
.back_popup_close{
    width:0.5rem;
    height:0.5rem;
    background: url('../images/cstest/btn_close.png') no-repeat;
    background-size:100% 100%;
    position: absolute;
    right: 0;top:-0.7rem;
}
.back_popup_title{
    font-size:0.36rem;
    color:#333333;
    text-align: center;
    line-height:2.5;
}
.back_popup_top{position: relative;width:100%;height:2.26rem;}
.back_popup_top .back_popup_banner{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    lefT:0;
}
.back_popup_top .back_popup_zhun{
    width:1.05rem;
    height:1rem;
    position: relative;
    z-index: 1;
}
.back_popup_top_c{
    position: relative;
    z-index: 1;
    font-size:0.3rem;
    color:#ffffff;
    padding:0 0.24rem;
    line-height: 1.5;
    bottom:0;
}
.back_popup_Btn{
    width:5rem;
    height:0.88rem;
    line-height: 0.88rem;
    font-size:0.36rem;
    color:#ffffff;
    text-align: center;
    border-radius: 0.7rem;
    margin:0.3rem auto 0.2rem;
    background-color:#fa4b38;
}
.back_popup_count{
    text-align: center;
    font-size:0.26rem;
    color:#989898;
    margin-bottom:0.3rem;
}
.back_popup_count span{color:#fa4b38;}
