body{width:100%;font-family:"PingFang SC";color:#333333;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.index_container{
    padding-top:0.92rem;
}
/* banner */
.index_banner{border-bottom:0.1rem solid #f0f0f0;}
.swiper_btn{
    display: block;
    text-decoration: none;
    width:100%;
    -webkit-tap-highlight-color:transparent;
}
.swiper_btn img{height:1.85rem;vertical-align: middle;}
/* title */
.public_title{
    font-weight: 400;
    margin:0 0.2rem;
    font-size:0.28rem;
    color:#8f8f94;
    border-bottom: 1px solid #e6e6e6;
    line-height: 0.68rem;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack:justify;
    -ms-flex-pack: justify;
}
.public_title span{display: block;}
.public_title a{display: block;text-decoration: none;color:#5b5b5b;-webkit-tap-highlight-color: transparent;}
/* 专业命理 */
.Palace_wrap{
    list-style: none;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    padding:0.2rem 0 0;
    border-bottom: 0.1rem solid #f0f0f0;
}
.Palace_wrap li{
    overflow: hidden;
    width:25%;
    margin-bottom:0.2rem;
    box-sizing: border-box;
}
.Palace_item{
    text-decoration: none;
    color:#333333;
    display: block;
    -webkit-tap-highlight-color: transparent;
}
figure{
    text-align: center;
    position: relative;
}
.Palace_img{
    border-radius: 0.24rem;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}
.Palace_name{
    font-size:0.24rem;
    text-align: center;
    font-weight: 400;
    margin-top:0.15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
}
/* 测试分类 */
.tab{
    padding: 0.2rem;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
}
.navigatetwo{
    flex: 1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    text-align: center;
    text-decoration: none;
    border: 0.01rem solid #ff7585;
    color:#333333;
    padding:0.15rem 0;
    font-size:0.24rem;
    background-color:#ffffff;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.curr{
    flex: 1;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    text-align: center;
    text-decoration: none;
    border: 0.01rem solid #ff7585;
    color:#ffffff;
    padding:0.15rem 0;
    font-size:0.24rem;
    background-color:#ff7585;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.qc_classlist ul{list-style: none;}
.Hot_item{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    padding:0.2rem;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align:center;
    align-items:center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    border-bottom: 1px solid #e6e6e6;
}
.H_left{
    display:flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

figure .t_icon{width:1.2rem;height:1.2rem;border-radius: 0.24rem;vertical-align: middle;}
figure .type_icon{ width:0.7rem; height:0.7rem; position: absolute; display: block; left:0; top:0; border-radius: 0.24rem 0 0 0; -webkit-border-radius: 0.24rem 0 0 0; -moz-border-radius: 0.24rem 0 0 0; -ms-border-radius: 0.24rem 0 0 0; -o-border-radius: 0.24rem 0 0 0; }
.H_center{
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left:0.2rem;
    width:4rem;
}
.H_title{
    font-size:0.28rem;
    margin-bottom: 0.1rem;
    color:#333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.H_hot{margin-bottom: 0.1rem;}
.H_hot::before{
    content: "";
    width:2rem;
    height:0.42rem;
    vertical-align: middle;
    background:url('../images/star.png') no-repeat;
    background-position: 0px -2rem;
    background-size:2rem;
    display: inline-block;
}
.H_hot span{font-size:0.24rem;color:#9b9b9b;margin-left:0.1rem;} 
.H_direction{
    font-size:0.24rem;color:#9b9b9b;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.navigate_btn{
    display: block;
    width:1.08rem;
    height:0.46rem;
    line-height: 0.46rem;
    text-decoration: none;
    font-size:0.24rem;
    color: #ff7585;
    text-align: center;
    border: 1px solid #ff7585;
    border-radius:0.05rem;
    background-color: #ffffff;
    outline: none;
}
.navigate_btn span{font-size:0.32rem;}
/* 加载 */
.loadPoint{padding:0.2rem;background-color:#ededed;color:#989898;text-align: center;font-size:0.28rem;}
.load_gif{margin-right:0.1rem;vertical-align: middle}
/* gotop */

#goTop {
    position: fixed;
    bottom: 0.1rem;
    right: 0.1rem;
    width: 0.6rem;
    height:0.6rem;
    background:url('../images/gotop.png') no-repeat;
    background-size:100% 100%;
    z-index: 35;
    -webkit-tap-highlight-color: transparent;
}

/* 测试分类 */
.classlist{
    display: flex;
    display: -webkit-flex;
    list-style: none;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
    padding:0 0.2rem;
    box-sizing: border-box;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-top:0.2rem;
}
.classlist li{
    width:23%;
    margin-bottom:0.2rem;
}
.classlist li a{
    display: block;
    height:0.68rem;
    text-decoration: none;
    font-size:0.28rem;
    line-height: 0.68rem;
    text-align: center;
    color:#ffffff;
    -webkit-tap-highlight-color: transparent;
}
.classlist li:nth-child(1) a{background-color:#7738b1;}
.classlist li:nth-child(2) a{background-color:#ed4949;}
.classlist li:nth-child(3) a{background-color:#feb506;}
.classlist li:nth-child(4) a{background-color:#0d9fb0;}
.classlist li:nth-child(5) a{background-color:#2a74b4;}
.classlist li:nth-child(6) a{background-color:#ff7e00;}
.classlist li:nth-child(7) a{background-color:#ed4949;}
.classlist li:nth-child(8) a{background-color:#5351ab;}
/* swiper分类 */
.list_container{padding:0.2rem;background: #f0f0f0;overflow: hidden;}
.list_container .swiper-wrapper .swiper-slide{width:1.5rem;margin-right:0.2rem;}
.list_container .swiper-wrapper .swiper-slide:nth-last-child(1){margin-right:0;}
.list_btn{display: inline-block;-webkit-tap-highlight-color:transparent;}
.list_btn img{width:1.5rem;vertical-align: middle;}

/* 内容更新窗 */
.ready_container{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color:rgba(0,0,0,0.7);
}
.ready_wrap{
    background-color:#ffffff;
    position: absolute;
    border-radius: 0.2rem;
    width:88%;
    left:50%;
    top:15%;
    margin-left:-44%;
    overflow: hidden;
}
.RscaleOpen{
    opacity:0 ;
    animation: Rscale 0.5s 0.2s forwards ease;
}
@keyframes Rscale {
    0%{
        transform:scale(0.3);
        -webkit-transform:scale(0.3);
        -ms-transform:scale(0.3);
        -moz-transform:scale(0.3);
        -o-transform:scale(0.3);
    }
    100%{
        opacity:1;
        transform:scale(1);
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);
    }
}
.RscaleClose{
    opacity:1;
    animation: RscaleClose 0.5s 0.2s forwards ease;
}
@keyframes RscaleClose {
    0%{
        transform:scale(1);
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(0.3);
        -webkit-transform:scale(0.3);
        -ms-transform:scale(0.3);
        -moz-transform:scale(0.3);
        -o-transform:scale(0.3);
    }
}
.ready_title{
    font-size:0.36rem;
    color:#ff7585;
    padding:0.2rem 0;
    text-align: center;
}
.ready_ul_list{
    margin:0 0.3rem;
    border-top:1px dashed #ff7585;
    border-bottom:1px dashed #ff7585;
    list-style: none;
}
.ready_ul_list li{font-size:0.3rem;line-height: 0.7rem;border-bottom:1px dashed #ff7585;}
.ready_ul_list li:nth-last-child(1){border: none;}
.ready_ul_list li a{display: block;text-decoration:none;color:#ff7585;-webkit-tap-highlight-color: transparent;}
.ready_ul_list li a::before{
    content: '';
    width:0.1rem;
    height:0.1rem;
    border-radius: 50%;
    background-color:#ff7585;
    display: inline-block;
    margin-right:0.1rem;
    vertical-align: middle;
}
.ready_btn{text-align: center;}
.ready_btn a{
    font-size:0.3rem;
    background-color:#ff7585;
    height:0.7rem;
    line-height: 0.7rem;
    padding:0 0.2rem;
    text-align: center;
    display: inline-block;
    border-radius: 0.15rem;
    color:#ffffff;
    margin:0.4rem 0;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.ready_close_btn{
    width:0.48rem;
    height:0.48rem;
    background: url('../images/close.png') no-repeat;
    background-size:100% 100%;
    position: absolute;
    right:0.1rem;
    top:0.1rem;
    -webkit-tap-highlight-color: transparent;
}
.ready_title_icon{
    position: absolute;
    height: 0.36rem;
    line-height: 0.36rem;
    left: -0.44rem;
    font-size: 0.24rem;
    top: 0.1rem;
    color: #fff;
    background-color: #FF7585;
    padding: 0 0.5rem;
    transform: rotate(-45deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-45deg);
}


